* {
    margin: 0;
    padding: 0;
    background: #a41c2d;
}

.main-container {
    width: 100%;
    height: 100vh;
}

.my-mask {
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 350px;
    height: 400px;
    position: relative;
    opacity: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+37,ffffff+59&1+11,1+11,0+65 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(164, 28, 45, 1) 11%, rgba(164, 28, 45, 0.52) 37%, rgba(164, 28, 45, 0.11) 59%, rgba(164, 28, 45, 0) 65%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(164, 28, 45, 1) 11%, rgba(164, 28, 45, 0.52) 37%, rgba(164, 28, 45, 0.11) 59%, rgba(164, 28, 45, 0) 65%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(164, 28, 45, 1) 11%, rgba(164, 28, 45, 0.52) 37%, rgba(164, 28, 45, 0.11) 59%, rgba(164, 28, 45, 0) 65%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
    animation: gradientmoving 4s infinite;
    animation-timing-function: linear;
}

@keyframes gradientmoving {
    from {
        left: 15%;
    }
    to {
        left: 65%;
    }
}


/*    http://www.colorzilla.com/gradient-editor*/

.main-text {
    position: absolute;
    display: block;
    float: left;
    color: #fff;
    text-align: center;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    font-size: 10vh;
    text-transform: uppercase;
    /*
    animation: fadeout 5s steps(48, start);
    animation-duration: infinite;
    opacity: 1;*/
}

/*
@keyframes fadeout {
    0% {
        opacity: 1;
        left: 0px;
    }
    50% {
        opacity: 0;
        left: 100px;
    }
    100% {
        opacity: 1;
        left: 200px;
    }
}*/
