/*above 1170px*/

@media screen and (min-width: 1170px) {
    .img-container {
        width: 100%;
    }
    

}


/*from 992px to 1170px */

@media screen and (min-width: 992px) and (max-width: 1170px) {
    .img-container {
        position: relative;
        width: 100%;
        height: 70%;
        background: url(../img/man-2.jpg) no-repeat;
        background-size: cover;
    }
    .text-container {
        top: 100px;
        right: 70px;
        left: auto;
    }
    .text-container h1,
    h2 {
        color: white;
    }
}


/*up to 992px*/

@media screen and (max-width: 992px) {
    .img-container {
        position: absolute;
        width: 100%;
        height: 50%;
        background: url(../img/man-1.jpg) no-repeat;
        background-size: cover;
        background-position:center;
    }
    .text-container {
        position: absolute;
        width: 100%;
        left: 0;
        top: 60%;
        z-index: 1;
    }
    .text-container h1,
    h2 {
        color: black;
        text-align: center;
        padding: 0 0 1% 0%;
        text-transform: uppercase;
    }
}